body {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #70afee;
}
card {
  background: #46c5db;
  border-radius: 12px;
  padding: 25px;
  width: 320px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 6px 16px rgba(241, 239, 239, 0.733);
}
title {
  color: #0e5fa5;
  font-size: 15px;
  margin-bottom: 12px;
}
btn {
  display: inline-block;
  background: #a2b4c9;
  color: beige;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  margin-top: 15px;
  font-size: 14px;
  transition: background 0.3 ease;
}
